#Python Files to ignore
model.py
preprocess.py
visualize.py

#Virtual Environment
venv/
env/
.venv/

#Data Files
crime_bahamas.csv

#Folders
backend/data/raw_pdfs
frontend/node_modules

#Dependencies
/node_modules
/.pnp
.pnp.js

#Testing
/coverage

#Production
/build

#Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
